.wrap_listall_product {
  min-height: 500px;
}

.wrap_listall-filter,
.wrap_listall-arrange {
  display: flex;
  align-items: center;
  height: 36px;
}

.wrap_listall-arrange > ul {
  display: flex;
  margin-left: 10px;
}

.wrap_listall-arrange > ul > li {
  margin-left: 4px;
  padding: 6px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.wrap_listall-arrange > ul > li:hover {
  background-color: #ccc;
}

.wrap_listall-arrange-active {
  background-color: #ccc;
}

.wrap_listall-filter > select {
  width: 160px;
  padding: 6px 10px;
  outline: none;
  border: 1px solid #ccc;
  margin-left: 10px;
}

.no_products {
  margin: 40px auto;
}
