.wrap_login {
  width: 480px;
  margin: 0 auto;
}

.form_client-login-input > input {
  border: 1px solid #ccc;
  outline: none;
  width: 100%;
  padding: 8px 10px;
  margin-top: 6px;
}

.btn_client-login {
  background-color: #fbd947;
  width: 100%;
  padding: 10px 12px;
  border-radius: 8px;
  color: #dd0115;
}

.btn_client-login:hover {
  color: #000;
}

.err_account {
  color: #eb3e32;
  font-size: 14px;
  margin-top: 4px;
}

.err_account_input {
  border: 1px solid #eb3e32 !important;
}
